---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Features from '../components/Features.astro';
import Tabs from '../components/Tabs.astro';
---
<Layout>
    <Showcase showExtra={true} />
    <Features / >
</Layout>
    <section class="page-content">
        <div class="container">
            <h2>Get Started With Astro</h2>
            <p>
                Get a new Astro project up and running locally with out helpful create-astro CLI wizard!
            </p>

            <Tabs
            headings={['NPM', 'PNPM', 'YARN']}
            contents={['$ npm create astro@latest', '$ pnpm create astro@latest', '$ yarn create astro']}
            />

            <h3>Start Building</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. At tenetur, totam omnisofficia ullam velit ex reprehenderit blanditiis unde quam, culpa nulla delenitivitae nesciunt, enim aspernatur. Porro cupiditate hic aut nam eos veritatisdolorum quibusdam, ipsam sequi ab assumenda tenetur dicta laboriosam, quos totam.Rerum corrupti blanditiis doloremque voluptatibus.
            </p>
        </div>
    </section>
